/* 
____________
reset
____________
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* 
____________
common
____________
*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display:flex;
}

.row {
  flex-direction:column;
}

.space{
  justify-content: space-between;
}
/* 
____________
main-menu
____________
*/

.container{
  width: 100%;
  height: calc(100vh - 90px);
}

.container .main-menu{
  height: calc(100vh - 90px);
  width: 50px;
  padding: 0 1.25rem;
  background-color: black;
}

.main-menu .main-menu-nav ul li span,
.main-menu .playlist,
.main-menu .bottom-menu span,
.main-menu .bottom-menu h2,
.logo{
  display: none;
}

@media screen and (min-width:552px) {

  .main-menu .main-menu-nav ul li span,
  .main-menu .playlist,
  .main-menu .bottom-menu span,
  .main-menu .bottom-menu h2,
  .logo{
      display: block;
  }

  .logo-mobile{
    display: none;
  }

  .container .main-menu{
    width: 230px;
  }

  .content{
    width: calc(100% - 230px);
  }
}
/* 
____________
content
____________
*/
.content{
  background-color: #141922;
  overflow: auto;
  width: calc(100% - 50px);
}

.btn-upgrade{
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(8, 11, 18, 0.5);
  height: 5.625rem;
}

.btn{
  border: 1px solid white;
  border-radius: 1.25rem;
  padding: .75rem 2.5rem;
  font-size: .75rem;
  position: relative;
  right: 1.5625rem;

}

.content-nav{
  margin-top: .625rem;
}

.menu-content{
  justify-content: center;
  flex-wrap: wrap;
  font-size: .75rem;
  line-height: 2.5rem;
}

.menu-content li{
  width: calc(100% / 4);
  text-align: center;
}

/* 
____________
footer
____________
*/
footer {
  height: 90px;
  background-color: #282828;
}