/* 
____________
reset
____________
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* 
____________
common
____________
*/
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

a:hover,
a:active,
a:focus { 
  color: rgba(255, 255, 255, 1);
}

.box img:hover{
  opacity: 0.4;
}

.flex {
  display:flex;
}

.row {
  flex-direction:column;
}

.space{
  justify-content: space-between;
}
/* 
____________
main-menu
____________
*/
main{
  overflow: hidden;
}

.container{
  width: 100%;
  height: calc(100vh - 90px);
}

.container .main-menu{
  height: calc(100vh - 90px);
  width: 50px;
  text-align: center;
  background-color: black;
  font-size: .8125rem;
}

.menu-logo{
  line-height: 2.1875rem ;
  margin-top: .9375rem;
}

.logo{
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-logo li img{
  height: 1.6875rem;
  vertical-align: middle;
}

.logo-mobile img{
  width: 70%;
}

.logo-mobile{
  padding: .3125rem;
}

.main-menu .main-menu-nav ul li span,
.main-menu .playlist,
.main-menu .bottom-menu span,
.main-menu .bottom-menu h2,
.logo{
  display: none;
}

.playlist h2{
  margin: 1.875rem 0 .9375rem 0;
  font-size: .875rem;
}

.add-playlist{
  font-size: .9375rem;
}

.create-playlist{
  margin-top: .625rem;
  line-height: 1.875rem;
  overflow-y: auto;
  height: 9.375rem;
}

.add-playlist::before{
  display: inline-block;
  content: '+';
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
  margin-right: .625rem;
  font-size: 2.1875rem;
  vertical-align: middle;
  line-height: 2.1875rem ;
  width: 2.1875rem;
  height: 2.1875rem;

}

.bottom-menu{
  margin-top: auto;
}

.bottom-menu img{
  vertical-align: middle;
  margin-right: .625rem;
}

.bottom-menu .download img{
  width: .9375rem;
}

.user h2{
  font-size: .875rem;
  vertical-align: baseline;
}

.avatar{
  width: 30px;
  margin: .9375rem auto;
}

hr{
  display: none;
  margin-top: 10px;
  margin-right: 1.25rem;
}

@media screen and (min-width:552px) {

  .container .main-menu{
   text-align: left;
   padding-left: 20px;
  }

  .main-menu .playlist,
  .main-menu .bottom-menu span,
  .main-menu .bottom-menu h2,
  .logo{
      display: block;
  }

  .main-menu .main-menu-nav ul li span,
  .main-menu .bottom-menu span{
    display: inline-block;
  }

  .logo-mobile{
    display: none;
  }

  .menu-logo{
    margin-top: 0;
  }

  .container .main-menu{
    width: 230px;
  }
  
  .user{
    margin: .9375rem 0; 
  }
  hr{
    display: block;
  }
  .avatar{
    margin:0;
  }

  .content{
    width: calc(100% - 230px);
  }
}
/* 
____________
content
____________
*/
.content{
  background-color: #141922;
  overflow: auto;
  width: calc(100% - 50px);
}

.btn-upgrade{
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(8, 11, 18, 0.5);
  height: 5.625rem;
}

.btn{
  border: 1px solid white;
  border-radius: 1.25rem;
  padding: .75rem 2.5rem;
  font-size: .75rem;
  position: relative;
  right: 1.5625rem;
  color: #fff;
}

.btn:hover{
  scale: 1.1;
}

.content-nav{
  margin-top: .625rem;
}

.menu-content{
  justify-content: center;
  flex-wrap: wrap;
  font-size: .75rem;
  line-height: 2.5rem;
}

.menu-content li{
  width: calc(100% / 4);
  text-align: center;
}

@media screen and (min-width:640px) {
.menu-content li {
  width: calc(100% / 3);
  text-align: center;
  padding: .625rem;
}
}

@media screen and (min-width:878px) {
.menu-content li {
  width: calc(100% / 5);
  text-align: center;
  padding: .625rem;
}
}

@media screen and (min-width:878px) {
.menu-content li {
  width: 100%;
  padding: .625rem;
}

.menu-content {
  flex-wrap: nowrap;
}
}
/* 
_______________
Recently played
_______________
*/

.played .track-item {
flex-wrap: wrap;
}

.played .box {
width: calc(100% / 2);
text-align: center;
padding: .625rem;
}

.box img{
width: 100%;
}

@media screen and (min-width:640px) {
.played .box {
width: calc(100% / 4);
}

}

@media screen and (min-width:878px) {
.played .box {
width: 100%;
}

.played .track-item {
flex-wrap: nowrap;
}
}
/* 
_______________
Creato per John Doe
_______________
*/
.track-box .box {
  padding: .625rem;
  text-align: center;
  width: 12.5rem;
}
/* 
_______________
artisti più popolari
_______________
*/
.popular-artist .box {
  padding: .625rem;
  text-align: center;
}

.popular-artist .track-box .box img{
  border-radius: 50%;
}

.played,.create-for-you,.popular-artist{
  padding: 1.25rem;
}
/* 
____________
footer
____________
*/
footer {
  height: 90px;
  background-color: #282828;
}

.track-left{
  width: 30%;
}