/* 
____________
reset
____________
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

/* 
____________
common
____________
*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display:flex;
}

.row {
  flex-direction:column;
}
/* 
____________
main-menu
____________
*/

.container{
  width: 100%;
  height: calc(100vh - 90px);
}

.container .main-menu{
  height: calc(100vh - 90px);
  width: 50px;
  padding: 0 1.25rem;
  background-color: black;
}

.main-menu .main-menu-nav ul li span,
.main-menu .playlist,
.main-menu .bottom-menu span,
.main-menu .bottom-menu h2,
.logo{
  display: none;
}

@media screen and (min-width:552px) {

  .main-menu .main-menu-nav ul li span,
  .main-menu .playlist,
  .main-menu .bottom-menu span,
  .main-menu .bottom-menu h2,
  .logo{
      display: block;
  }

  .logo-mobile{
    display: none;
  }

  .container .main-menu{
    width: 230px;
  }

  .content{
    width: calc(100% - 230px);
  }
}
/* 
____________
content
____________
*/
.content{
  background-color: #141922;
  overflow: auto;
  width: calc(100% - 50px);
}
/* 
____________
footer
____________
*/
footer {
  height: 90px;
  background-color: #282828;
}